{% extends "svotree2/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
回答画面
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row" align="center">
            <div class="col-sm-12" align="center">
                <div class="panel panel-default" align="center">
                     <div class="panel-heading"><strong>以下について決定をして下さい．</strong></div>
                         <div class="panel-body" align="center">
                            <div class="row" align="center">
                                <div class="col-lg-12 center" align="center">
                                    {% for decision in ring_measure_decisions %}
                                    <div class="col-sm-4 tdm-item" align="center">
                                        <table>
                                            <tr>
                                                <th class="tdm-cell">{{ decision.number }}</th>
                                                <th class="tdm-cell tdm-choice"><strong>A</strong></th>
                                                <th class="tdm-cell tdm-choice"><strong>B</strong></th>
                                            </tr>
                                            <tr>
                                                <td class="tdm-cell"><strong>あなたの利益</strong></td>
                                                <td class="tdm-cell tdm-choice">{{ decision.A.self }}</td>
                                                <td class="tdm-cell tdm-choice">{{ decision.B.self }}</td>
                                            </tr>                                    <tr>
                                            <td class="tdm-cell"><strong>誰かの利益</strong></td>
                                            <td class="tdm-cell tdm-choice">{{ decision.A.other }}</td>
                                            <td class="tdm-cell tdm-choice">{{ decision.B.other }}</td>
                                        </tr>
                                            <tr>
                                                <td class="tdm-cell"></td>
                                                <td class="tdm-cell tdm-choice"><input type="radio" name="ring_measure_{{ decision.number }}" value="A" /></td>
                                                <td class="tdm-cell tdm-choice"><input type="radio" name="ring_measure_{{ decision.number }}" value="B" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div align="right">
    <button class="btn btn-primary btn-large" id="continue_button" ><!--Continue-->次へ</button>
</div>

    {% include Constants.instructions_rm %}


{% endblock %}

{% block scripts %}

{% endblock %}
