{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>

    <p>
        <ul>
        あなたは全く知らない誰かとランダムに2人組になります．<br>
        この実験では，2人組のうち，いずれかはプレイヤー1に割り当てられ，もう一方がプレイヤー2に割り当てられます．<br>
        意思決定をする前に，あなたがプレイヤー1に割り振られたのかどうかがわかるようになっています．<br>
        </ul>
    </p>

    <p>
        <ul>
        プレイヤー2に10ポイント渡されました．<br>
        プレイヤー1はプレイヤー2から最大で10ポイントを<strong>奪う</strong>ことができます．<br>
        分配の具体例は以下の様になります．
        </ul>
        <ul>
            <li> プレイヤー1が10ポイントを選んだ場合：プレイヤー2から10ポイントを奪います．</li>
            <li> プレイヤー1が9ポイントを選んだ場合：プレイヤー2から9ポイントを奪います．</li>
            <li> プレイヤー1が8ポイントを選んだ場合：プレイヤー2から8ポイントを奪います．</li>
            <li> プレイヤー1が7ポイントを選んだ場合：プレイヤー2から7ポイントを奪います．</li>
            <li> プレイヤー1が6ポイントを選んだ場合：プレイヤー2から6ポイントを奪います．</li>
            <li> プレイヤー1が5ポイントを選んだ場合：プレイヤー2から5ポイントを奪います．</li>
            <li> プレイヤー1が4ポイントを選んだ場合：プレイヤー2から4ポイントを奪います．</li>
            <li> プレイヤー1が3ポイントを選んだ場合：プレイヤー2から3ポイントを奪います．</li>
            <li> プレイヤー1が2ポイントを選んだ場合：プレイヤー2から2ポイントを奪います．</li>
            <li> プレイヤー1が1ポイントを選んだ場合：プレイヤー2から1ポイントを奪います．</li>
            <li> プレイヤー1が0ポイントを選んだ場合：プレイヤー2から0ポイントを奪います．</li>
        </ul>

        <ul>
        <strong>なお，決定権はプレイヤー1のみにあり，プレイヤー2にはありません．</strong><br>
        <strong>したがって，プレイヤー1の意思決定どおりにお金が分配されます．</strong>
        </ul>
    </p>

    <p>

    </p>


</div>
