{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}全ての期における結果／Results for all rounds{% endblock title %}

{% block content %}
    <p>
        全 {{ Constants.num_rounds }}期が終了しました．全ての期での購入額は以下の通りにまとめられます．
    </p>
    <p>
        You have finished all {{ Constants.num_rounds }} periods. Purchases for
        all periods are
        summarized below:
    </p>
    <div id="highcharts-container"
         style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <p>
        あなたは <strong>{{ player.role }}</strong>でした．.
    </p>
    <p>
        You are <strong>{{ player.role }}</strong>.
    </p>

    {% next_button %}

{% endblock %}

{% block scripts %}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/highcharts-3d.js"></script>

    <script>
        $(function () {
            $('#highcharts-container').highcharts({
                title: {
                    text: 'Results'
                },
                xAxis: {
                    categories: {{ round_numbers }},
                    title: {text: 'Round'}
                },
                yAxis: {
                    title: {
                        text: 'Points'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: 'points'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: {{ highcharts_series }}
            });
        });
    </script>
{% endblock %}
