{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
調査：
{% endblock %}

{% block content %}
<div>
  <p>
      あなたと<strong>人間</strong>の関係を示した1から5までのことばが<br>
      あなた自身にどのくらい当てはまるかについて，<br>
      下の枠内の1から7までの数字のうちもっとも適切なものを選んでください．<br>
      文章全体を総合的に見て，自分にどれだけ当てはまるかを評価してください．
  </p>
</div>

<div style="background-color:#e6e6e6;">
  {% formfield player.Trust_1 %}
</div>
<div style="background-color:#e6e6e6;">
  {% formfield player.Trust_2 %}
</div>
<div style="background-color:#e6e6e6;">

  {% formfield player.Trust_3 %}
</div>
<div style="background-color:#e6e6e6;">

  {% formfield player.Trust_4 %}
</div>
<div style="background-color:#e6e6e6;">

  {% formfield player.Trust_5 %}
</div>

    {% next_button %}

{% endblock %}
