{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Response
{% endblock %}

{% block content %}

    <p>You are <strong>Player B</strong>. Player A has offered you a contract with the following details:</p>

    <table class='table text-center' style='width: auto; margin: auto'>
        <tr><th>Fixed payment</th><th>Return share</th></tr>
        <tr><td>{{ group.agent_fixed_pay }}</td><td>{{ group.return_share_as_percentage }}%</td></tr>
    </table>

    {% formfield group.contract_accepted with label='Will you accept or reject the above contract?' %}
    <div id=effort>
    {% formfield group.agent_work_effort with label='Please choose your level of effort' %}
    </div>

    <p id=calculate></p>

    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}
