{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション／Instructions
    </h3>

    <p>
        あなたは全く知らない誰かとランダムに2人組になります．
        この実験では，2人組のうち，いずれかはプレイヤー1に割り当てられ，もう一方がプレイヤー2に割り当てられます．
        意思決定をする前に，あなたがどちらに割り振られたのかわかるようになっています．
    </p>

    <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant 1 and the other
        Participant 2. Prior to making a decision, you will learn your role,
        which will be randomly assigned.
    </p>

    <p>
        {{ Constants.endowment }} が手元にあります． プレイヤー1は何ポイントを自分自身のものとして残しておくかを
        決定します．そして，残りのポイントをプレイヤー2に渡します．
        なお，このゲームは10期繰り返します．
    </p>

    <p>
        There are {{ Constants.endowment }} to split. Participant 1 will
        decide how many points she or he will retain. Then the rest will go to
        Participant 2.
    </p>
</div>
