{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "課題説明" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
         <p>
            {% blocktrans trimmed %}
                最後に以下の簡単な課題を実施していただきます．<br>
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                画面上に，{{ num_boxes }}個の小さな箱が{{ num_rows }}x{{ num_cols }}のマス目状に表示されます．
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            あなたが「開始」ボタンをクリックすると，１秒間につき１つの箱に自動的にチェックがついていきます．
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            チェックの付いた箱があなたの手持ちの箱になり，１つの箱につきあなたは{{ box_value }}獲得できます．<br>
            しかし，最初にチェックされた１つの箱を除いた99個の箱のうちの１つには爆弾が入っています．<br>
            （どの箱に爆弾が入っているかは誰もわかりません）
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                あなたはいつでも「終了」ボタンを押すことで，箱にチェックが付くのを止めることができます．<br>
            （言い換えると，あなたが[終了]ボタンを押すまで，爆弾が入っているかどうかに関わらず箱には自動的にチェックがつけられていきます）<br>
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
            そして，[終了]ボタンのあとに[箱を開ける]ボタンを押すと，それまでにチェックをつけられた箱に爆弾が入っていたかどうかが明らかになります．<br>
            もし，爆弾入りの箱が入っていれば，爆弾が爆発しあなたの獲得ポイントは０となります．<br>
            爆弾が入っていなければ（つまり，爆弾入りの箱にチェックが入る前に[終了]ボタンを押していれば）手持ちのチェックの付いた箱の分だけのポイントを獲得できます．
            {% endblocktrans %}
        </p>





    </div>

     {% next_button %}
{% endblock %}
