{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        インストラクション
    </h3>

    <p>
        <ul>
        あなたは全く知らない誰かとランダムに2人組になります．<br>
        この実験では，2人組のうち，いずれかはプレイヤー1に割り当てられ，もう一方がプレイヤー2に割り当てられます．<br>
        意思決定をする前に，あなたがプレイヤー1に割り振られたのかどうかがわかるようになっています．<br>
        </ul>
    </p>

    <p>
        <ul>
        {{ Constants.endowment }} がプレイヤー1に与えられました．<br>
        プレイヤー1は何ポイントを自分自身のものとして残しておくかを
        決定します．そして，残りのポイントをプレイヤー2に渡します．<br>
        分配の具体例は以下の様になります．
         </ul>
        <ul>
            <li> プレイヤー1が10ポイントを選んだ場合：プレイヤー2に0ポイント与えます．</li>
            <li> プレイヤー1が9ポイントを選んだ場合：プレイヤー2に1ポイント与えます．</li>
            <li> プレイヤー1が8ポイントを選んだ場合：プレイヤー2に2ポイント与えます．</li>
            <li> プレイヤー1が7ポイントを選んだ場合：プレイヤー2に3ポイント与えます．</li>
            <li> プレイヤー1が6ポイントを選んだ場合：プレイヤー2に4ポイント与えます．</li>
            <li> プレイヤー1が5ポイントを選んだ場合：プレイヤー2に5ポイント与えます．</li>
            <li> プレイヤー1が4ポイントを選んだ場合：プレイヤー2に6ポイント与えます．</li>
            <li> プレイヤー1が3ポイントを選んだ場合：プレイヤー2に7ポイント与えます．</li>
            <li> プレイヤー1が2ポイントを選んだ場合：プレイヤー2に8ポイント与えます．</li>
            <li> プレイヤー1が1ポイントを選んだ場合：プレイヤー2に9ポイント与えます．</li>
            <li> プレイヤー1が0ポイントを選んだ場合：プレイヤー2に10ポイント与えます．</li>
        </ul>
        <ul>
        <strong>なお，決定権はプレイヤー1のみにあり，プレイヤー2にはありません．</strong><br>
        <strong>したがって，プレイヤー1の意思決定どおりにお金が分配されます．</strong>
        </ul>
    </p>

</div>
