{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}

        あなたの役割と意思決定

{% endblock %}

{% block content %}

    <p>

            あなたは<strong>提案者</strong>です．

    </p>
<!--
    <p>

            You are the <strong>proposer</strong>.

    </p>
-->
    <p>

            2人のプレイヤーには， {{ Constants.endowment }}が与えられます．<br>


    </p>

<!--
    <p>

            The two of you have been given {{ Constants.endowment }}. Enter the amount that you want to offer to the responder.

    </p>
-->
    {% formfield group.amount_offered with label="あなたは応答者に何ポイントを渡したいですか？" %}

    {% next_button %}
<br>
<br>
<br>
    {% include Constants.instructions_template %}

{% endblock %}

