{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    インストラクション：
{% endblock %}

{% block content %}

    <div class="instructions well well-lg">


        <p>
            この実験では，あなたはランダムに <b>{{ Constants.players_per_group }}</b>人のグループに割り振られます．
            あなたには以下に記された状況での意思決定を行っていただきます．
            あなたと他に{{ Constants.num_others_per_group }}人の人が，あなたと同様に{{ Constants.num_rounds }}期繰り返しの
            意思決定を行うことになります．

        </p>



    </div>

    {% include Constants.instructions_template %}



    {% next_button %}
    {{ block.super }}
{% endblock %}
