{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
ステージ 2: 処罰の決定  ({{ Constants.num_rounds }}期中{{ subsession.round_number }}期目)
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <b> 第2ステージのインストラクション</b>
        </div>
        <div class="card-body">
            第2ステージでは，同じグループのメンバーの意思決定の結果を見ることができます．
            そして，あなたの収益から<strong>{{ Constants.punishment_endowment }}ポイント</strong>まで支払うことができます．
            1ポイントをあなたの利益から支払うと，他の参加者の利益を{{ Constants.punishment_factor }}ポイントまで減らすことができます．

        </div>
    </div>



    {% if form.non_form_errors %}
        {% for error in form.non_form_errors %}
            <div class="alert alert-danger mt-3">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-hover table-striped table-responsive">
        {{ form.management_form }}
        <thead>
        <tr>
            <th>プレイヤー：</th>
            <th>貢献額</th>
            <th>減額ポイント：</th>
            <th>減らされるポイント：</th>
        </tr>
        </thead>

        {% for f in form.forms %}
            <tr>
                <td class="text-nowrap">プレイヤー {{ forloop.counter }}</td>
                <td class="text-center">{{ f.instance.receiver.contribution }}</td>
                <td>{% formfield f.amount label='' %}</td>
                {% for hidden in f.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td id="{{ f.amount.id_for_label }}"></td>
            </tr>

        {% endfor %}
    </table>

    {% next_button %}


{% endblock %}
{% block styles %}
    <style>
        .table {
            display: table !important
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        const min_val = 0;
        const max_val = {{ player.punishment_endowment|json }};
        const pun_factor = {{ Constants.punishment_factor|json }};
        $(function () {

            $('div.field-amount input').on('input', function () {
                var curvalue = $(this).val();
                if (curvalue < min_val) {
                    $(this).val( min_val);
                };
                if (curvalue > max_val) {
                    $(this).val( max_val);
                }
                var curvalue = $(this).val();
                var punishment_sent = -curvalue * pun_factor;
                $('td#' + $(this).attr('id')).html(punishment_sent);
            })
        });
    </script>
{% endblock %}